div.header {
  height: 55px;
  background: linear-gradient(to right, rgb(177, 127, 181), rgb(226, 204, 132));
}

.notification-indicator .mail-status {
  border: 0px !important;
}

.header-search-scope {
  border-right: 1px solid #f1e8e7 !important;
}

.header-nav-link {
  color: white !important;
}

span.counter {
  background-color: white;
}

.timeline-comment-avatar {
  border-radius: 50% !important;
}

.timeline-commits .commit-message > code a {
  font-size: 10pt !important;
}

.header-search-scope {
  color: white !important;
}


.reponav-item.selected {
  border-color: #f3a3de #e5e5e5 transparent !important;
}

.comment-form-head {
  background: linear-gradient(to right, rgb(253, 235, 255), rgb(255, 243, 207)) !important;
}

.timeline-comment-header {
  background: linear-gradient(to right, rgb(253, 235, 255), rgb(255, 243, 207));
}

.mini-repo-list-item, .file-header {
  background: linear-gradient(to right, rgb(253, 235, 255), rgb(255, 243, 207));
}

.readme h3 {
  background: linear-gradient(to right, rgb(253, 235, 255), rgb(255, 243, 207));
}

.commit-tease {
  background: linear-gradient(to right, rgb(253, 235, 255), rgb(255, 243, 207));
}

.pagehead {
  background: linear-gradient(to right, rgb(253, 235, 255), rgb(255, 243, 207));
}

.reponav-item {
  color: black !important;
}

.reponav-item svg {
  color: black !important;
}

.table-list-header {
  background: linear-gradient(to right, rgb(253, 235, 255), rgb(255, 243, 207));
}
