div.header {
  height: 55px;
  background: linear-gradient(to right, rgb(177, 127, 181), rgb(226, 204, 132));
}

.mini-repo-list-item {
  background: linear-gradient(to right, rgb(253, 235, 255), rgb(255, 243, 207));
}

.readme h1, h2, h3 {
  background: linear-gradient(to right, rgb(253, 235, 255), rgb(255, 243, 207));
}

.commit-tease {
  background: linear-gradient(to right, rgb(253, 235, 255), rgb(255, 243, 207));
}

.pagehead {
  background: linear-gradient(to right, rgb(253, 235, 255), rgb(255, 243, 207));
}

.reponav-item {
  color: black !important;
}

.reponav-item svg {
  color: black !important;
}

.table-list-header {
  background: linear-gradient(to right, rgb(253, 235, 255), rgb(255, 243, 207));
}
